
header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/') ElleOL Designs
        .nav-collapse.collapse
          ul.nav
            li
              a(href='/about', title="about elleol") About
            li
              a(href="/contact", title="contact me") Contact
          ul.nav.pull-right
            if (everyauth.loggedIn)
              li
                a(href="/profile/"+current_user.id, title="Profile") Profile
              li
                a(href="/logout", title="logout") Logout
            else
              li
                a(href="/auth/facebook", title="Login") Login
